* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}
body {
  background-color: #fdf2e9;
  color: #555;
  font-size: 62.5%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}
.rlist {
  display: flex;
  flex-wrap: wrap;
  gap: 4rem;
  align-items: stretch;
  justify-content: center;
}

.restaurant,
.meal {
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  border-radius: 11px;
  overflow: hidden;
  transition: all 0.4s;
  width: 15rem;
  background: #fff;
}

.restaurant:hover {
  transform: translateY(-1rem);
  box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.06);
}

.restaurant-content,
.meal-content {
  padding: 1rem;
}

.restaurant-tags,
.meal-tags {
  margin-bottom: 1.2rem;
  display: flex;
  gap: 0.4rem;
}

.tag {
  display: inline-block;
  padding: 0.4rem 0.8rem;
  font-size: 0.6rem;
  text-transform: uppercase;
  color: #333;
  border-radius: 100px;
  font-weight: 600;
}

.special {
  background-color: #f0e35a;
}
.non-special {
  background-color: #f5d7d7;
}

.restaurant-title,
.meal-title {
  font-size: 1.4rem;
  color: #333;
  font-weight: 600;
  margin-bottom: 1.2rem;
}

.restaurant-attributes,
.meal-attributes {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.restaurant-attribute {
  font-size: 1rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.restaurant-icon {
  height: 2.4rem;
  width: 2.4rem;
  color: #e67e22;
}

.restaurant-img {
  width: 100%;
}
.rest-page .restaurant {
  display: flex;
  width: 80vw;
  height: 80vh;
}
.rest-page .restaurant img {
  width: 50%;
  height: 100%;
}
.tags span {
  border-radius: 50rem;
  padding: 0.7rem 1rem;
  background-color: #e67e22;
  font-weight: 500;
  color: #fdf2e9;
}

.veg {
  background-color: #51cf66;
}
.non-veg {
  background-color: #ff553b;
}

.meal-attribute span {
  overflow-wrap: break-word;
}

.meal-attribute {
  font-size: 1rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.meal-icon {
  height: 2.4rem;
  width: 2.4rem;
  color: #e67e22;
}

.meal-img {
  width: 100%;
}
a {
  text-decoration: none;
}
